* {
  box-sizing: border-box;
}

body {
  height: 100vh;
}

main {
  background-color: #90a081;
  padding: 15px;
}

aside {
  background-color: #f1ac7b;
  padding: 15px;
}

.boton {
  background-color: #ffc107;
  height: max-content;
}
